@import "tailwindcss";

:root {
  --pink: #ec2088;
  --midnight: #2e3182;
  --purple: #8a2890;
  --red: #fb0000;
  --sky: #12b1e7;
  --navy: #006fa7;
  --sun: #fdd40e;
  --spring: #65b357;
  --aloe: #06b47a;
  --gallery: #ffffff;
  --black: #191919;
  --orange: #ff931d;
  --text-white: #e0e0e0;
  --font-figtree: "Figtree", sans-serif;
  --font-body: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@theme inline {
  --font-figtree: var(--font-figtree);
  --font-body: var(--font-body);
  --color-pink: var(--pink);
  --color-midnight: var(--midnight);
  --color-purple: var(--purple);
  --color-red: var(--red);
  --color-sky: var(--sky);
  --color-navy: var(--navy);
  --color-sun: var(--sun);
  --color-spring: var(--spring);
  --color-aloe: var(--aloe);
  --color-gallery: var(--gallery);
  --color-black: var(--black);
  --color-orange: var(--orange);
  --color-text-white: var(--text-white);
  --text-hero: clamp(2.5rem, 8vw, 6rem);
  --text-main-heading: clamp(2rem, 6vw, 4.2rem);
  --text-sub-heading: clamp(1.5rem, 4vw, 3.2rem);
  --text-body-lg: clamp(1.125rem, 2vw, 1.25rem);
  --text-body: 1rem;
  --text-caption: 0.875rem;
}

.button {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
  transition: all 200ms ease-out;
  &:hover {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
    transform: translateX(-10px);
    background-color: var(--midnight);
  }
}

.button.reversed {
  clip-path: polygon(0% 0, 100% 0, 90% 50%, 100% 100%, 0% 100%, 0% 0%);
  transition: all 200ms ease-out;
  &:hover {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
    transform: translateX(10px);
    background-color: var(--midnight);
  }
}

.text-stroke {
  background: conic-gradient(var(--pink), var(--sun), var(--aloe)) 50%;
  width: fit-content;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 5px;
}

.idea-main-text {
  background: linear-gradient(to right, var(--aloe), var(--pink));
  width: fit-content;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 4px;
  letter-spacing: 1.5px;
}

.feature-card:nth-child(2) h3 {
  color: var(--pink);
}
.feature-card:nth-child(2) p:nth-child(2) {
  color: var(--aloe);
}
