@import "tailwindcss";

:root {
  --pink: #ec2088;
  --midnight: #2e3182;
  --purple: #8a2890;
  --red: #fb0000;
  --sky: #12b1e7;
  --navy: #006fa7;
  --sun: #fdd40e;
  --spring: #65b357;
  --aloe: #06b47a;
  --gallery: #ffffff;
  --black: #191919;
  --orange: #ff931d;
  --font-fig: "Figtree", sans-serif;
}

@theme inline {
  
}
