@import "tailwindcss";

:root {
  --pink: #ec2088;
  --midnight: #2e3182;
  --purple: #8a2890;
  --red: #fb0000;
  --sky: #12b1e7;
  --navy: #006fa7;
  --sun: #fdd40e;
  --spring: #65b357;
  --aloe: #06b47a;
  --gallery: #ffffff;
  --black: #191919;
  --orange: #ff931d;
  --text-white: #e0e0e0;
  --font-figtree: "Figtree", sans-serif;
  --font-body: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@theme inline {
  --font-figtree: var(--font-figtree);
  --font-body: var(--font-body);
  --color-pink: var(--pink);
  --color-midnight: var(--midnight);
  --color-purple: var(--purple);
  --color-red: var(--red);
  --color-sky: var(--sky);
  --color-navy: var(--navy);
  --color-sun: var(--sun);
  --color-spring: var(--spring);
  --color-aloe: var(--aloe);
  --color-gallery: var(--gallery);
  --color-black: var(--black);
  --color-orange: var(--orange);
  --color-text-white: var(--text-white);
  --text-hero: clamp(2.5rem, 8vw, 6rem);
  --text-main-heading: clamp(2rem, 6vw, 4.2rem);
  --text-sub-heading: clamp(1.5rem, 4vw, 3.2rem);
  --text-body-lg: clamp(1.125rem, 2vw, 1.25rem);
  --text-body: 1rem;
  --text-caption: 0.875rem;
  --breakpoint-clip: 730px;
}

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--aloe);
  color: white;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--sun);
  text-underline-offset: 5px;
}

.button {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
  transition: all 200ms ease-out;
  &:hover {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
    transform: translateX(-10px);
    background-color: var(--midnight);
  }
}

.button.reversed {
  clip-path: polygon(0% 0, 100% 0, 90% 50%, 100% 100%, 0% 100%, 0% 0%);
  transition: all 200ms ease-out;
  &:hover {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
    transform: translateX(10px);
    background-color: var(--midnight);
  }
}
.button.hov-aloe {
  &:hover {
    background-color: var(--aloe);
  }
}

.button.hov-pink {
  &:hover {
    background-color: var(--black);
  }
}

.article-image {
  clip-path: polygon(
    10% 0%,
    80% 0%,
    80% 10%,
    90% 10%,
    90% 20%,
    100% 20%,
    100% 90%,
    90% 100%,
    20% 100%,
    20% 90%,
    10% 90%,
    10% 80%,
    0% 80%,
    0% 10%
  );
  position: relative;
}

.article-image.animate-path {
  animation: clip-change 2s ease-out infinite alternate;
}

@keyframes clip-change {
  from {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      100% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%,
      0% 100%,
      0% 100%,
      0% 0%,
      0% 0%
    );
  }

  to {
    clip-path: polygon(
      10% 0%,
      80% 0%,
      80% 10%,
      90% 10%,
      90% 20%,
      100% 20%,
      100% 90%,
      90% 100%,
      20% 100%,
      20% 90%,
      10% 90%,
      10% 80%,
      0% 80%,
      0% 10%
    );
  }
}

.text-stroke {
  background: conic-gradient(var(--pink), var(--sun), var(--aloe)) 50%;
  width: fit-content;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 5px;
}

.footer-stroke,
.not-found {
  color: var(--black);
  background: linear-gradient(
    to right,
    var(--pink),
    var(--gallery),
    var(--aloe)
  );
  background-clip: text;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 8px;
}

.idea-main-text,
.idea-main-text *,
.not-found {
  background: linear-gradient(to right, var(--aloe), var(--pink));
  width: fit-content;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 4px;
  letter-spacing: 1.5px;
}

.feature-card:nth-child(2) h3 {
  color: var(--pink);
}
.feature-card:nth-child(2) p:nth-child(2) {
  color: var(--aloe);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--gallery);
  border-inline: 1px solid var(--aloe);
}

::-webkit-scrollbar-thumb {
  background: var(--aloe);
  border-radius: 10px;
  transition: all 300ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}

.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  color: var(--aloe);
  font-family: var(--font-figtree);
  font-weight: 700;
}

.blog-content h2 {
  font-size: var(--text-sub-heading);
  color: var(--black);
}

.blog-content h3 {
  font-size: 28px;
}

.blog-content p,
.blog-content li,
.blog-content span {
  color: #707070;
  font-size: var(--text-body);
  font-family: var(--font-bodys);
}

.blog-content a {
  text-decoration: underline;
  text-decoration-style: double;
  text-underline-offset: 5px;
  color: var(--aloe);
  font-weight: 600;
}

.blog-content ol {
  list-style: decimal;
  list-style-position: outside;
}

.blog-content ul {
  list-style: square;
}

.event-card {
  clip-path: polygon(
    0 0,
    5% 5%,
    10% 0%,
    15% 5%,
    20% 0,
    25% 5%,
    30% 0%,
    35% 5%,
    40% 0,
    45% 5%,
    50% 0%,
    55% 5%,
    60% 0,
    65% 5%,
    70% 0%,
    75% 5%,
    80% 0,
    85% 5%,
    90% 0%,
    95% 5%,
    100% 0,
    100% 100%,
    0% 100%,
    0% 0%
  );
  transition: clip-path 300ms ease-in;
}

.event-article {
  &:hover .event-card {
    clip-path: polygon(
      0 5%,
      5% 0%,
      10% 5%,
      15% 0%,
      20% 5%,
      25% 0%,
      30% 5%,
      35% 0%,
      40% 5%,
      45% 0%,
      50% 5%,
      55% 0%,
      60% 5%,
      65% 0%,
      70% 5%,
      75% 0%,
      80% 5%,
      85% 0%,
      90% 5%,
      95% 0%,
      100% 5%,
      100% 100%,
      0% 100%,
      0% 0%
    );
  }
}

.image-clip {
  clip-path: path(
    "M 30, 0 L 600, 0 A 20, 20, 0, 0, 1 620, 20 L 620, 40 A 20, 20, 0, 0, 0 640, 60 L 680, 60 A 20, 20, 0, 0, 1 700, 80 L 700, 280 A 20, 20, 0, 0, 1 680, 300 L 630, 300 A 20, 20, 0, 0, 0 610, 320 L 610, 470 A 20, 20, 0, 0, 0 630, 490 L 680, 490 A 20, 20, 0, 0, 1 700, 510 L 700, 540 A 20, 20, 0, 0, 1 680, 560 L 120, 560 A 20, 20, 0, 0, 1 100, 540 A 80, 80, 0, 0, 0 20, 460 A 20, 20, 0, 0, 1 0, 440 L 0, 30 A 30, 30, 0, 0, 1 30, 0  Z"
  );
}

@media (max-width: 730px) {
  .image-clip {
    clip-path: path(
      "M 30, 0 L 200, 0 A 20, 20, 0, 0, 1 220, 20 L 220, 40 A 20, 20, 0, 0, 0 240, 60 L 280, 60 A 20, 20, 0, 0, 1 300, 80 L 300, 280 A 20, 20, 0, 0, 1 280, 300 L 230, 300 A 20, 20, 0, 0, 0 210, 320 L 210, 470 A 20, 20, 0, 0, 0 230, 490 L 280, 490 A 20, 20, 0, 0, 1 300, 510 L 300, 540 A 20, 20, 0, 0, 1 280, 560 L 120, 560 A 20, 20, 0, 0, 1 100, 540 A 80, 80, 0, 0, 0 20, 460 A 20, 20, 0, 0, 1 0, 440 L 0, 30 A 30, 30, 0, 0, 1 30, 0  Z"
    );
  }
}

@media (max-width: 320px) {
  .image-clip {
    clip-path: none;
  }
}
